:root {
  /* Color Palette */
  --accent-color: #f97315;
  --panel-border-color: #c9a4ff90;
  --light-text-color: rgba(255, 255, 255, 0.87);

  /* Button styles */
  --start-button-gradient-start: #ff9800;
  --start-button-gradient-end: rgb(255, 133, 12);
  --start-button-shadow: rgb(198, 82, 0);
  --button-border-color: #6c757d;
  --button-hover-border-color: #ffc107;

  /* Other colors */
  --white-color: #ffffff;
  --transparent-black-20: rgba(0, 0, 0, 0.2);

  /* Typography */
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* New Color Palette */
  --blue-1: #61abd8;
  --blue-2: #3f93cf;
  --blue-3: #2b72aa;
  --pink-1: #f08c9d;
  --pink-2: #ef506e;
  --pink-3: #cd3957;
  --brown-1: #e9c46a;
  --brown-2: #ff8b18;
  --brown-3: #e07407;
  --green-1: #4dff6b;
  --green-2: #02d725;
  --green-3: #00b51e;
  --gold-1: #fbe057;
  --gold-2: #caac00;
  --gold-3: #b79b00;
  --purple-1: #bf8ef4; 
  --purple-2: #9f43f5; 
  --purple-3: #7e22ce; 
}
html {
  font-size: 1.5vw;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  color: var(--light-text-color);
  background-image: url("../assets/DarkBG2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* #root{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
} */

y {
  font-weight: 600;
  color: #ff9800;
  display: inline;
}


.cm {
  --font-family-comma: Georgia, sans-serif;
  font-family: var(--font-family-comma);
}
left{
  text-align: left;
  display: block;
}
