.navigation {
  display: flex;
  align-items: center;
  gap: 1vw;
  width: 100%;
  justify-content: space-between;
  /* height: 10%; */
}

.nav-chevron {
  background: linear-gradient(
    145deg,
    var(--start-button-gradient-start),
    var(--start-button-gradient-end)
  );
  border: 1px solid var(--button-border-color);
  color: var(--white-color);
  font-size: 3vw;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
  /* padding: 1vh 3vw; */
  width: 8vw;
  height: 4vw;
  line-height: 0;

  border-radius: 0.8vw;

  box-shadow: 0 0.2vh 0.4vh var(--transparent-black-20),
    0.2vh 0.2vh 0.1vh var(--start-button-shadow);
}

.nav-chevron:not(:disabled) {
  opacity: 1;
  color: var(--white-color);
}

.nav-chevron:not(:disabled):hover {
  color: var(--white-color);
}

.nav-chevron:disabled {
  cursor: not-allowed;
}

.pagination-dots {
  display: flex;
  align-items: center;
  gap: 0.8vw;
}

.dot {
  width: 0.75vw;
  height: 0.75vw;
  background-color: var(--button-border-color);
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
}

.dot:hover {
  background-color: var(--button-hover-border-color);
}

.dot.active {
  width: 1vw;
  height: 1vw;
  transform: translateY(-10%);
  background-color: var(--button-hover-border-color);
  cursor: default;
}

.nav-text-container {
  flex: 1;
  text-align: center;
  font-size: 2.2vw;
  color: var(--white-color);
  padding: 0 2vw;
}

.lower-panel-text {
  text-align: center;
  font-size: 2.2vw;
  border-radius: 1vw;
  width: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1vw;
}
