.applet-container {
  aspect-ratio: 16 / 9;
  width: 95vw;
  height: calc(95vw * 9 / 16);
  max-width: 95vw;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1vw;
  position: relative;
}

.app-main-content {
  display: flex;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  gap: 1vw;
  border-radius: 1vw;
  backdrop-filter: blur(5vw);
}

.buttons-panel {
  flex: 0 0 33%;
  width: 33%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1vw;
}

.visual-panel {
  flex: 1;
  height: 100%;
}

.mcq-panel-wrapper {
  flex: 1;
  height: 100%;
}

.lower-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-size: calc(0.25rem + 1.75vw);
  gap: 2vh;
  flex-direction: column;
}
