.pagination-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8vw;
  flex-grow: 1;
}

.pagination-dot {
  width: 1.2vw;
  height: 1.2vw;
  background-color: transparent;
  /* Using a variable from applet.css for the inactive border */
  border: 0.15vw solid var(--light-text-color);
  border-radius: 50%;
  transition: all 0.3s;
}

.pagination-dot.active {
  /* Using variables from applet.css for the active state */
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
