.applet-container {
  aspect-ratio: 16 / 9;
  width: 100vw;
  height: calc(100vw * 9 / 16);
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: .5vw;
  position: relative;
  --text-strong: #ffffff;
  --text-muted: rgba(255, 255, 255, 0.58);
  --button-bg: #284d66;
  --button-disabled: #1a3445;
  --button-text-disabled: rgba(255, 255, 255, 0.42);
  --orange: #f08442;
  --blue: #63b5ed;
  --purple: #d778df;
  --yellow: #ffd23f;
  --green: #74bd50;
  /* background: #0f3c53c1; */
  /* backdrop-filter: blur(0.5vw); */
}

.app-main-content {
    display: flex;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    gap: 1rem;
    /* padding: 1rem; */
    /* background-color: var(--panel-background-color); */
    border-radius: 1vw;
    /* border: 1px solid var(--panel-border-color); */
}

.lower-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-size: calc(0.25rem + 1.75vw);
  gap: 2vh;
  flex-direction: column;
  height: 8vw;
  padding: 0vw 1vw;
  background: rgba(255, 255, 255, 0.13);
}

.bulb-small {
  width: 2vw;
  height: 2vw;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}