.shape-canvas-3d {
  width: 100%;
  height: 100%;
  position: relative;
  touch-action: none;
  cursor: grab;
}

.shape-canvas-3d.cursor-wait {
  cursor: wait;
}

.shape-canvas-3d:active {
  cursor: grabbing;
}

.shape-canvas-3d canvas {
  display: block;
  outline: none;
}
